{% extends 'bookstore/layout.html' %} 
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{book.title}}
      <a href={% url 'bookstore:show' book.id %}?action=edit>Edit</a>
      <a href={% url 'bookstore:show' book.id %}?action=del>Delete</a>
    </div>
    <div>
      <form action="" method="post">
        {{review_form}}
      </form>
    </div>
    {% if edit %}
    <div class="col-md-6">
      <form action={% url 'bookstore:show' book.id %}?action=edit method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form}}
        <button type="submit" class="btn btn-outline-primary mt-2">
          Update Book
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock body %}
